<h1>About Your_Instance</h1>
<p>Your_Instance description</p>
<p>Your_Instance is a way to join the Fediverse, to be part of a community, and to reclaim your freedom of speech in social media.</p>

<h1 id="site-rules">Site rules</h1>
<p>Please refrain from:</p>
<ol>
  <li>Posting anything illegal.</li>
  <li>Posting pornography.</li>
  <li>Intentionally creating multiple accounts to circumvent people blocking you.</li>
  <li>Being a bot (unless you post unlisted and do not auto-follow).</li>
  <li>Any account setup solely to advertise a product or service.</li>
</ol>

<p>What won't get you banned:</p>
<ol>
  <li>Hurting someone's feelings.</li>
  <li>Unpopular opinions voiced respectfully.</li>
  <li>Anything that can be solved by a personal block.</li>
  <li>Cursing.</li>
  <li>Lewd jokes.</li>
  <li>A bot where all posts are unlisted.</li>
</ol>

<h1 id="opensource">Open Source Software</h1>
<p>Avtar is free and open source (FOSS) software.</p>

